.fadeleftsome {

  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
  -webkit-opacity: 0;
  -webkit-animation: start 0.5s ease-out forwards;
  -o-animation: start 0.5s ease-out forwards;
  animation: start 0.5s ease-out forwards
}



@-webkit-keyframes start {
  0% {
    -webkit-transform: translateX(20px);
    opacity: 0
  }

  50% {
    opacity: 0.5
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1
  }
}












